[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "civic.icarm"]
	path = civic.icarm
	url = https://github.com/olawaleawe/civic.icarm
[submodule "icarm"]
	path = icarm
	url = https://github.com/olawaleawe/icarm
